@{
    ViewData["Title"] = "Connexion";    
}

<form method="post">
    <div id="log">
        <img src="https://www.dailybiz.com/wp-content/uploads/2022/01/Fichier-1.png" class="logo" alt="logoDailybiz">
        

        <div class="log_input">
            <label for="username">Username </label>
            <input type="text" name="CodeAbonne" placeholder="anatole">
@*            <img src="img/mail.png" alt="courrier">
*@        </div>
        
        <div class="log_input">
            <label for="username">Identifiant </label>
            <input type="text" name="Identifiant" placeholder="example@daylibiz.fr">
@*            <img src="img/mail.png" alt="courrier">
*@        </div>

       
        <div class="log_input">
            <label for="password">Password </label>
            <input type="password" name="MotDePasse" placeholder="">
@*            <img src="img/key.png" alt="psw">
*@        </div>

        <a href="#">Mot de passe oublié ?</a> 
        <input type="submit" id="btnLog" value="LOGIN"/>
     </div>
</form>


