@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Ajouter un Client";
}



<form method="post">
    <div class="log_input">
            <label for="RefClient" width="200px">RefClient </label>
            <input type="text" name="RefClient" placeholder="23">
    </div>
    <div class="log_input">
            <label for="codeClient" width="200px">Code Client </label>
            <input type="text" name="codeClient" placeholder="Augereau">
    </div> 
    <div class="log_input" width="200px">
            <label for="Nom">Nom </label>
            <input type="text" name="Nom" placeholder="Augereau">
    </div>

    <div class="log_input" width="200px">
        <label for="Adresse1" width="200px">Adresse 1 </label>
        <input type="text" name="Adresse1" placeholder="2, rue de Rivoli">
    </div>

    <div class="log_input" width="200px">
        <label for="Adresse2">Adresse 2 </label>
        <input type="text" name="Adresse2" placeholder="">
    </div>

    <div class="log_input" width="200px">
        <label for="Ville">Ville </label>
        <input type="text" name="Ville" placeholder="Paris">
    </div>

    <div class="log_input">
        <label for="CP" width="200px">Code Postal </label>
        <input type="text" name="CP" placeholder="75004">
    </div>

    <div class="log_input">
        <label for="Pays">Pays </label>
        <input type="text" name="Pays" placeholder="France">
    </div>

        <div class="log_input">
        <label for="Tel" width="200px">Tel </label>
        <input type="text" name="Tel" placeholder="0987654321">
    </div>

    <div class="log_input">
        <label for="Web" width="200px">Web </label>
        <input type="text" name="Web" placeholder="www.augereau.fr">
    </div>
    <div class="log_input">
        <label for="Email" width="200px">Email </label>
        <input type="text" name="Email" placeholder="www.augereau.fr">
    </div>


    <div class="log_input" width="200px">
        <label for="CompteComptable">Compte Comptable </label>
        <input type="text" name="CompteComptable" placeholder="411AUGEREAU0">
    </div>

    <input type="submit" id="btnLog" value="Créer Le Client"/>
       
</form>

